<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Home</title>
</head>
<body>
    <section>
        <h1>Dashboard</h1>
        <div class="card border-primary mb-3">
            <div class="card-header">Incidents Closed per User</div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Closed Incidents</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="entry : ${stats}" class="table-active">
                            <td th:text="${entry.key}"></td>
                            <td th:text="${entry.value}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>
