<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Knowledge Base</title>
</head>
<body>
<section>
    <h1>Knowledge Base</h1>
    <a th:href="@{/knowledge-base/new}" class="btn btn-primary mb-3">New Article</a>
    <div class="list-group">
        <a th:each="article : ${articles}" th:href="@{/knowledge-base/{id}(id=${article.id})}" class="list-group-item list-group-item-action" th:text="${article.title}">
        </a>
    </div>
</section>
</body>
</html>
